<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web- contacts</title>
    <link rel="stylesheet" href="../main.css">
</head>

<style>
    .info {
        font-size: 20px;
        background-color: #2d2d2d;
        border-radius: 10px;
        text-align: center;
        max-width: 40%;
        margin-left: 30%;
    }
</style>

<body>
    <div id="nav">
        <ul>
            <li><a href="contacts.html">Contact</a></li>
            <li><a href="galerie.html">Photos</a></li>
            <li><a href="main.html">Home</a></li>
        </ul>
    </div>

    <div class="info">
        <p><span>Adresa:</span> ul. Blabla, 123</p>
        <p><span>Cislo:</span>123 456 789</p>
        <p><span>Email:</span> info@example.com</p>
        <p><span>Oteviraci doba:</span> Po-Pa, 9:00 - 18:00</p>
    </div>

    <footer>
        <hr>
        <h2 style="margin-left: 10%;">Kde jsme?</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1170.1072961945497!2d-81.57944457711147!3d28.396073284889443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7e3c362365ab%3A0xd58244e2ecdc6e8!2sLake%20Mickey!5e1!3m2!1sen!2scz!4v1714770414664!5m2!1sen!2scz"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" display: inline;></iframe>
        <p class="color-text" style="text-align: center;">&copy; 2024 Společnost. Všechna práva vyhrazena.</p>
    </footer>

</body>

</html>