<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wweb - main</title>
    <link rel="stylesheet" href="../main.css">
</head>

<style>
    main div {
        background-color: #313131;
        padding: 15px;
        border-radius: 10px;
        margin: 15px 0px 15px 0px;
    }

    main div h2 {
        margin-left: 20px;
        text-decoration: underline;
        text-decoration-color: rgba(168, 235, 18, 1);
    }
</style>

<body>
    <div id="nav">
        <ul>
            <li><a href="contacts.html">Contact</a></li>
            <li><a href="galerie.html">Photos</a></li>
            <li><a href="main.html">Home</a></li>
        </ul>
    </div>

    <main>
        <div>
            <h2>Historie Vzniku</h2>
            <p>Společnost byla založena v roce 2010 skupinou nadšenců, kteří spojili své síly k řešení
                složitých problémů v oblasti technologií a inovací. Původně začínala svoji činnost v garáži, s průběhem
                času se stávala velkým mezinárodním konglomerátem.</p>
        </div>
        <div>
            <h2>Spolupráce</h2>
            <p>Pyšníme se našimi partnery a zaměstnanci. Mezi naše partnery patří takové velké společnosti jako Google,
                Microsoft, Amazon a mnoho dalších. Snažíme se neustále rozšiřovat síť partnerů a zaměstnanců pro
                realizaci našich ambiciózních projektů.</p>
        </div>
        <div>
            <h2>Produkty</h2>
            <p>Naše společnost se specializuje na vývoj a výrobu vysokotechnologických výrobků, které jsou zaměřeny na
                zlepšení každodenního života lidí. Mezi naše produkty v prodeji patří:</p>
            <ul>
                <li>Chytré domácí zařízení pro automatizaci domácnosti</li>
                <li>Vyspělé mobilní aplikace pro správu osobních financí</li>
                <li>Virtuální realita pro vzdělávací účely</li>
            </ul>
        </div>

        <p><a href="https://cat-bounce.com">hrat s kocky aww</a></p>
        <p><a href="https://www.trashloop.com">hazet papir do kose</a></p>

    </main>
    <footer>
        <hr>
        <h2 style="margin-left: 10%;">Kde jsme?</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1170.1072961945497!2d-81.57944457711147!3d28.396073284889443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7e3c362365ab%3A0xd58244e2ecdc6e8!2sLake%20Mickey!5e1!3m2!1sen!2scz!4v1714770414664!5m2!1sen!2scz"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" display: inline;></iframe>
        <p class="color-text" style="text-align: center;">&copy; 2024 Společnost. Všechna práva vyhrazena.</p>
    </footer>
</body>

</html>


</body>

</html>